<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128843138423-0bfv9dmefjfdih4o2eglrbmm9pde3gth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128843138423-0bfv9dmefjfdih4o2eglrbmm9pde3gth</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>128843138423-pc5o8m2gspq81lolschqgu3qe4enur9h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcIT_iqYWc2JzGSDW8wv4JXx0m3AK4t9E</string>
	<key>GCM_SENDER_ID</key>
	<string>128843138423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kenmaro.DynamicLinkYoutube</string>
	<key>PROJECT_ID</key>
	<string>dynamiclink-264d8</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamiclink-264d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128843138423:ios:74c07878f9a470dac14d72</string>
</dict>
</plist>